{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<h1>Películas Disponibles</h1>
  <form class="form-inline mr-auto" role="form" method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
  </form>

<br>

<div class="" style="padding-left:15px;padding-right:150px">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">A.k.a</th>
        <th scope="col">Protagonista</th>
        <th scope="col">Año</th>
        <th scope="col">Director</th>
        <th scope="col">Género</th>
        <th scope="col">Portada</th>
      </tr>
    </thead>

    <tbody>
      {% for p in pelis %}
      <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.titulo}}</td>
        <td>{{p.tituloAlt}}</td>
        <td>{{p.actor}}</td>
        <td>{{p.anno}}</td>
        <td>{{p.director}}</td>
        <td>{{p.genero}}</td>
        <td><img src={{p.cover}} alt={{p.titulo}} width="100" height="110"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="row" style="padding-left:50px">
    <a href="/home">Volver</a>
</div>

{% endblock %}
